APP_NAME=fb-support-bot
ENV=dev

# Webhook verify token 
FB_VERIFY_TOKEN=
#Page Access Token (For Send API)
FB_PAGE_ACCESS_TOKEN=
FB_APP_SECRET=


# Database
DATABASE_URL=

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile


SUPABASE_URL=
SUPABASE_JWT_AUD=authenticated
SUPABASE_ANON_KEY=


# For WhatsApp

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEST_TO=
GRAPH_API_VERSION=v24.0

WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
